<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.soling.video">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:name=".ui.VideoApplication"
        >

        <activity android:name=".ui.MainActivity" android:windowSoftInputMode="stateHidden|adjustPan" android:launchMode="singleTask">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>


        <service android:name="com.soling.media.ui.VideoService" >
            <intent-filter>
                <action android:name="com.soling.auto.USB_VIDEO_SERVICE" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </service>


    </application>

</manifest>
